.contacts {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  height: 400px;
  overflow: hidden;
  box-sizing: border-box;
}

.contactsWrap {
  margin-top: 85px;
  display: flex;
  column-gap: 125px;
  justify-content: center;
}

.telegram:hover {
  box-shadow: red;
}

.instagram:hover {
  color: red;
}

.facebook:hover {
  color: red;
}

.flower {
  position: absolute;
  height: 100%;
  top: 0;
}

.flowerLeft {
  left: 0;
}

.flowerRight {
  right: 0;
}