.portfolio {
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 92px;
  margin: 0 60px;
}

.portfolioContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 30px;
}

.card {
  background: rgba(217, 217, 217, 0.2);
  border-radius: 20px;
  padding-top: 8px;
}

.card img {
  width: 100%;
}

.cardTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #D9D9D9;
}
